main {
    font-family: "Helvetica", "Verdana", "Sans Serif";
}

/* TITRE*/
.mini-text {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
}

h2 {
    color: #1E4D6E;
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

strong {
    color: #1e4d6e;
}

p {
    justify-content: center;
    align-items: center;
    text-align: justify;
    height: 30px;
}

.separator {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    height: 2px;
    width: 100px;
    background-color: #1F7DBF;
}

article {
    flex: 1;
    padding: 20px 20px;
}

.cgu {
    box-shadow: 30px 30px 100px rgb(0 0 0 / 20%);
    width: 80%;
    position: sticky;
    margin: auto;
    border-radius: 40px;
}

#footer {
    width: 100%;
    background: #1e4d6e;
    height : 150px;
}

#scroll, #scroll ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#scroll {
    text-align: center;
    padding : 65px;
}

#scroll li {
    /* on place les liens du menu horizontalement */
    display: inline-block;
    width: 100px;
}

#scroll ul li {
    /* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}

#scroll a {
    text-decoration: none;
    display: block;
    color:white;
    text-align: center;
    white-space:nowrap;
}

#scroll ul {
    position: absolute;
    /* on cache les sous menus complètement sur la gauche */
    left: -999em;
    z-index: 1000;
}

#scroll li:hover ul {
    /* Au survol des li du menu on replace les sous menus */
    left: auto;
}

#scroll a:hover{
    text-decoration: underline;
}
