body {font-family: Helvetica, sans-serif;
  color: #1e4d6e;
}
* {box-sizing: border-box;}

.container{
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 300px;
}

.item {
	opacity: 1;
	cursor: pointer;
	border: 4px dashed #1e4d6e;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
	color: #1e4d6e;
	font-size: 20px;
	text-align: center;
}

.item2 {
	opacity: 1;
	cursor: pointer;
	border: 5px solid #1e4d6e;
	border-radius: 10px;
	margin: 20px;
	padding: 30px;
	color: #1e4d6e;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

.vous{
	font-weight: bold;
	color: #1e4d6e;
	font-size: 1.6em;
	text-decoration: underline;
	margin-top: 100px;

}
