*{
  font-family: helvetica, verdana;
  color: #1E4D6E; 
} 

h1{
  text-align: center;
}

label {
  width: 220px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}
 
input:focus {
  background: #ddd;
}
 
input {
  width: 249px;
  background: #f1f1f1;
}
 
.button{
  width: 150px;
  padding: 10px;
}

em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

fieldset {
  padding-top:1em;
  text-align: center;
  margin-left: 100px ;
  background-color: #F2F2F8;
  padding:16px;
  max-width:500px;
  border:2px solid;
  border-radius:8px;
  margin-bottom: 50px;
}

.droit{
  float: right;
  margin-top: -360px
}