body {
    font-family: Helvetica, Verdana, sans-serif;
    color: #1e4d6e;
}

p {
    width: 500px;
    border: 1px solid black;
    text-align: justify;
    padding: 15px;
    margin: auto;
}


button {
    background-color: #1f7dbf;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: table;
    margin: auto;
}

button:hover {
    opacity: 0.8;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

input {
    display: table;
    margin: auto;
}

.ask {
    height: 250px;
}

.champ {
    height: 30px;
    width: 350px;
}

