body {
    font-family: Helvetica, Verdana, sans-serif;
    color :#1E4D6E;
}

h2 {

    color :#1E4D6E;
    text-transform:uppercase;
}

h3 {
    color :#1F7DBF;
    text-align: center;

}

h4 {
    color :black;
    text-transform:uppercase;
}

p {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#part1{
    float :none;
}

li {
    list-style-type: none;
}

.mini-text {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
}

.separator {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    height: 2px;
    width: 100px;
    background-color:#1F7DBF;
}

/*Check box*/
#criteria ul{
    display: flex;
    justify-content: space-evenly;

}


/*MENU DEROULANT*/

.criteria-section {
    margin: 0 10%;
    outline: none;
}


/* Masquer les différents choix */
.criteria-section ul li{
    display: none;


}

/* Si le checkbox est coché, montrer tous les paragraphes */
.criteria-section input[type=checkbox]:checked~ul li {
    display: block;
    color: black;

    text-overflow:clip;
    white-space: normal;
    overflow: visible;

}

/* Style des label */
.criteria-section .label-criteria{
    cursor: pointer;
    background-color: #F2F2F8;
    display: block;
    /*Largeur des critères
    width: 110px;*/
    padding: 10px 10px;
    font-weight: bold;
    position: relative;
    border-left: 3px solid #3CA0E7;
    transition: all .15s ease-out;
    border-radius: 30px;
}

/* Éviter de sélectionner le texte en cliquant plusieurs fois */
.criteria-section label::selection, .criteria-section label:hover{
    background: none;
}

/* Style du label si le checkbox est coché */
.criteria-section input[type=checkbox]:checked~label{
    border-left: 3px solid #8F0015;

    background: none;
    box-shadow: 0 0 1px rgba(0,0,0,.4);
}
.label-criteria {
    font-size: 20px;
}


/* Flèche du label par défaut */
.criteria-section .label-criteria::before{
    content: '';
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    border-left-color: inherit;
}

/* Flèche du label sélectionné */
.criteria-section input[type=checkbox]:checked~label::before{
    border: 6px solid transparent;
    border-top-color: inherit;
    margin-top: -3px;
    right: 10px;
}

.criteria-section ul{
    flex-direction: row;
}


/*bouton*/
.validation {
    display: flex;
    justify-content: center;
}
#bouton {
    padding: 15px 25px;
    width: 250px;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    color: #fff;
    background-color: #3c9bd1;
    outline:none;
    cursor:pointer;
}

td {
    background-color: #ffffff;
    margin: 50px;
    padding: 20px;
}

.container {
    width: 100%;
}

.col{
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);

}

table{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
}

thead{
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
}

th{
    padding: 20px 0;
    color: #1E4D6E;
}




