/*
light-blue : #1F7DBF;
dark-blue : #1E4D6E;
red : #8F0015;

*/
body {
    font-family: Helvetica, Verdana, sans-serif;
    color: #1e4d6e;
  }
* {box-sizing: border-box;}
  
/*OVERALL*/

h1{
    text-align: center;
}
broly {
    display: flex;
    /*box-shadow: 30px 30px 100px rgb(0 0 0 / 20%);*/
    justify-content: center;
}

form {
    margin-top: 20px;
    border-radius: 10px;
    min-width:600px;
    width: 60%;
}

span{
    color : #8f0015;

}


.separator{
	float: none;
    margin: 5px auto 20px;
    height: 2px;
	width: 100px;
	background-color:#1F7DBF;
}
/*Label*/
form > .contenant > label {
    color: #1e4d6e;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin: 20px;
    font-size: 1.7em;

}


/*CHAMP*/
form input, form select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;

}

input[type=text], input[type=password], input[type=email], input[type=text], input[type=date], #status, #country, #profession {
    padding: 15px;
    border: none;
    border-radius: 5px;

    outline: none;
    margin-bottom: 15px;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid #1F7DBF;
 }

input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, input[type=text]:hover, input[type=date]:hover, #status:hover, #country:hover, #profession:hover {
    background-color: #F2F2F8;
    transition: 0.3s;
}

/*Bouton*/
 
form button {
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: #fff;
    background-color: #1F7DBF;
    outline: none;
    cursor: pointer;
}

#register{
    width: 120px;
    background-color:#1F7DBF;
    font-size: 1.2em;
    margin-top: 10px;
}

#divButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#conditions{
    justify-content: flex-start;
}

.multipleChoice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#gender{
    justify-content: center;
    margin: 15px;
    padding: 10px;

}