body {
    font-family: Helvetica,Verdana sans-serif;
    color: #1e4d6e;
}

form {
    margin-top: 50px;
    text-align: center;
    height: 600px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 30px 30px 100px rgb(0 0 0 / 20%);
    margin-bottom: 150px;
}


form .inputs input[type='email'], input[type='password'] {
    padding: 15px;
    height: 50px;
    width: 450px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    outline: none;
    margin-bottom: 35px;
    margin-top: 20px;
}

form p.inscription {
    font-size: 20px;
    margin-bottom: 20px;
    color: #878787;
    text-decoration: none
}

form p.inscription span {
    color: #3c9bd1;
}

form button {
    padding: 15px 25px;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    color: #fff;
    background-color: #1F7DBF;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.erreur {
    text-align: center;
}

h2 {
    font-size: 40px;
}

#global {
    margin-left: auto;
    margin-right: auto;
    width:600px;
}
label {
    font-size: 25px;
}