footer {
    width: 100%;
    background: #1e4d6e;
    height : 150px;
}

#scroll, #scroll ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#scroll {
    text-align: center;
    padding : 70px;
}

#scroll li {
    /* on place les liens du menu horizontalement */
    display: inline-block;
    width: 150px;
    justify-content: space-evenly;
}

#scroll ul li {
    /* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}

#scroll a {
    text-decoration: none;
    display: block;
    color:white;
    text-align: center;
    white-space:nowrap;
}

#scroll ul {
    position: absolute;
    /* on cache les sous menus complètement sur la gauche */
    left: -999em;
    z-index: 1000;
}

#scroll li:hover ul {
    /* Au survol des li du menu on replace les sous menus */
    left: auto;
}

#scroll a:hover{
    text-decoration: underline;
}







